/* Move into theme stylesheet */
.cahnrs-search {
	padding: 0;
	margin: 0 0 1rem 0;
	position: relative;
}
.cahnrs-search .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
.cahnrs-search .search-field {
	background: #fff;
	border-radius: 1px;
	border: 1px solid #5e6a71;
	box-sizing: border-box;
	color: #8d959a;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1em;
	height: 2rem;
	line-height: 20px;
	margin: 0;
	padding: 0.5rem 2rem 0.5rem 0;
	width: 100%;
	-webkit-appearance: textfield;
}
.cahnrs-search .search-field:focus {
	color: #981e32;
}
.cahnrs-search .search-field::-webkit-input-placeholder {
	color: #8d959a;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
}
.cahnrs-search .search-field:-moz-placeholder {
	color: #8d959a;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
	opacity: 1;
}
.cahnrs-search .search-field::-moz-placeholder {
	color: #8d959a;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
	opacity: 1;
}
.cahnrs-search .search-field:-ms-input-placeholder {
	color: #8d959a;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
}
.cahnrs-search .search-submit {
	background: #5e6a71;
	border: none;
	border-radius: 1px;
	color: #fff;
	font-family: Spine-Icons;
	font-size: 1em;
	height: 2rem;
	margin: 0;
	padding: 0; padding: 4px 0 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 2rem;
}
.cahnrs-search .search-submit:hover {
	color: #fff;
	background: #981e32;
	border-width: 0;
}
.cahnrs-search .search-submit:focus {
	color: #fff;
	background: #c60c30;
	border-width: 0;
}
/* end of search form styles */
.style-guide-toc,
.style-guide-toc ul {
	list-style: none;
	padding: 0;
}
.style-guide-toc {
	margin-left: 1px;
	padding-top: 1rem;
}
.style-guide-toc li {
	margin-top: 1px;
	padding: 0;
}
.style-guide-toc li {
	margin-left: 2rem;
}
.style-guide-toc a {
	background-color: #fff;
	display: block;
	padding: 0.5rem 1rem;
	position: relative;
}
.style-guide-toc li ul li a {
	font-size: 13px;
}
.style-guide-toc li ul li ul li a {
	font-size: 12px;
}
.style-guide-toc li.page_item_has_children > ul {
	margin-left: 1px;
}
.style-guide-toc li.page_item_has_children > a span {
	background-color: #fff;
	color: #5e6a71;
	display: block;
	height: 100%;
	margin-left: -1px;
	position: absolute;
	left: -2rem;
	top: 0;
	width: 2rem;
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition:    background-color .2s linear, color .2s linear;
	-o-transition:      background-color .2s linear, color .2s linear;
	transition:         background-color .2s linear, color .2s linear;
}
.style-guide-toc li.page_item_has_children > a span:hover {
	background-color: #c60c30;
	color: #fff;
}
.style-guide-toc li.page_item_has_children > a span:after {
	bottom: 0;
	content: "\F501";
	font-family: Spine-Icons;
	height: 50%;
	margin: auto;
	position: absolute;
	text-align: center;
	top: 0;
	width: 2rem;
}
.style-guide-toc li.page_item_has_children > a span.disclosed:after {
	content: "\F500";
}
.style-guide-toc li.current_page_item > a {
	color: #5e6a71;
	font-weight: bold;
}
.style-guide-toc li.current_page_item > a > span {
	font-weight: normal;
}

.prevnext .column.two {
	text-align: right;
}

.search .style-guide-toc {
	margin-bottom: 2rem;
}